body {
    background-color: rgb(233, 199, 199);
}
div.paragrafo1 {
    margin-top: 20px;
    background-color: #FFFF99;
    border-style: dotted; 
}
div.paragrafo2 {
    margin-top: 20px;
    background-color: #66CCFF;
    height: 200px; /* altura */ 
    width: 520px; /* largura */
    border-style: dotted; 
    margin-left: 55%; 
}
div.paragrafo3{
    margin-top: 20px;
    background-color: aquamarine;
    height: 200px; /* altura */ 
    width: 400px; /* largura */
    border-style: dotted; 
    margin-left: 65%;
}